<table class="striped">
  	<thead>
  	  <tr>
  	  	<td>日期</td>
  	  	<td>餐廳</td>
  	  	<td>餐點</td>
        <td>價格</td>
  	  </tr>
  	</thead>

  	<tbody>
  	<% @orders.each do |order| %>	
  	  <tr>
  	  	<td><%= render_time_with_date(order.created_at) %></td>
        <td><%= order.menu.restaurant.name %></td>
        <td><%= order.food_name %></td>
  	  	<td class="price"><%= order.price %></td>
  	  </tr>
  	 <% end %>
	  <tr>
	  	<td></td>
	  </tr>
  	</tbody>

</table>
<h3>本月花費：</h3>
<p id="total"></p>

<%= content_for :javascripts do %>
  <%= javascript_include_tag 'bundle/histroy_bundle.js' %>
<% end %>