<div id="front_end_index">
  <div class="row">
    <div class="banner">
      <div class="col s12 m12 l12 center">
        <div class="logo-box center">
          <%= image_tag 'sdbd_text.png', id:"sdbd_text" %>
          <%= image_tag 'shrimp.png', id: "shrimp" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l4">
      <%= link_to new_menu_path, class: "dbd_button" do%>
      <i class="dbd_icon-pencil"></i>發起訂餐
      <% end %>
    </div>
    <div class="col s12 m6 l4">
      <%= link_to new_restaurant_path, class: "dbd_button" do %>
      <i class="dbd_icon-restaurant"></i>新增餐廳
      <% end %>
    </div>
    <div class="col s12 m6 l4">
      <%= link_to restaurants_path, class: "dbd_button" do%>
      <i class="dbd_icon-list"></i>餐廳列表
      <% end %>
    </div>
  </div>
  <div class="row">
    <table class="dbd_table">
      <thead>
        <tr>
          <td>發起人</td>
          <td>餐廳名稱</td>
          <td>開始時間</td>
          <td>剩餘時間</td>
          <td>連結</td>
        </tr>
      </thead>
      <tbody>
        <!-- todo 動態倒數 -->
        <% @menus.each do |menu| %>
        <tr>
          <!-- todo 加入餐廳名稱 -->
          <% if menu.user.present? %>
          <td><%= menu.user.username %></td>
          <% else %>
          <td> </td>
          <% end %>
          <td><%= menu.restaurant.name %></td>
          <td data-starttime="<%= menu.start_time %>">
            <%= render_time(menu.start_time) %>
          </td>
          <td class="countDown">
            <%= duration_time(menu.end_time) %>
          </td>
          <td><%= link_to '我要點餐', menu_path(menu) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <%= paginate @menus %>
  </div>
</div>
<script>
<% if notice != nil %>
Materialize.toast('<%= flash[:notice] %>', 4000,'rounded')
<% end %>
// refactor: sorry Denny, I need to do my part-time job, I'll be back at 11:pm.
</script>
<%= content_for :javascripts %>
<%= javascript_include_tag "bundle/landing_page_bundle.js" %>