<!-- todo: 設定餐廳資訊 -->
<div id="menus_bill">
  <h2 id="page_title">Order</h2>
  <% if @restaurant.present? %>
  <div class="row">
    <div class="col s12 offset-m3 m6 l6 offset-l3">
      <%= image_tag @restaurant.filepicker_url %>
    </div>
  </div>
  <% end %>
  <table class="dbd_table">
    <thead>
      <tr>
        <% if current_user && @menu.user == current_user %>
        <th>公司買單</th>
        <% end %>
        <th>姓名</th>
        <th>菜名</th>
        <th>價格</th>
        <th>備註</th>
        <th>找錢</th>
        <th>是否結清</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do|order| %>
      <tr data-purl="<%= menu_order_url(@menu, order) %>">
        <% if can? :update, order %>
        <td>
        <% if order.company_afford %>
          <input type="checkbox" class="orderCompanyAffordCheckbox" id="<%= "afford#{order.id}" %>" checked="checked"/>
          <% else %>
          <input type="checkbox" class="orderCompanyAffordCheckbox" id="<%= "afford#{order.id}" %>" />
        <% end %>
          
          <label for="<%= "afford#{order.id}" %>"></label>
        </td>
        <% end %>
        <td><%= order.user.username %></td>
        <td><%= order.food_name %></td>
        <td><%= order.price %></td>
        <td>
          <%= order.note %>
        </td>
        <td class="change_column">
          <% if !order.has_paid && (can? :update, order) %>
          <input type="number" value="<%= order.change %>" id="<%= "orderChangeInput#{order.id}" %>" class="change_input orderChangeInput">
          <% else %>
          <%= order.change %>
          <% end %>
          
        </td>
        <%  if order.has_paid?(order) %>
        <td>已經繳費</td>
        <% else %>
        <td>尚未繳費</td>
        <% end %>
        <td>
          <% if !order.has_paid && (can? :close, order) %>
          <div>
            <%= link_to "已付款", close_menu_order_path(@menu, order), method: :patch %>
          </div>
          <% end %>
          <% if can? :destroy, order %>
          <%= link_to menu_order_path(@menu, order), method: :delete, class: "delete_option" do %>
          <span class="dbd_icon--selected dbd_icon-remove">刪除</span>
          <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= content_for :javascripts do %>
<%= javascript_include_tag 'bundle/menu_bill_bundle'%>
<% end %>