<% unless show_navbar? %>
<div class="dbd_nav">
    <%= link_to root_path do %>
    <div class="dbd_logo">
        <%= image_tag 'sdbd_text.png', id:"sdbd_text" %>
        <%= image_tag 'shrimp.png', id: "shrimp" %>
    </div>
    <% end %>
    
    <ul class="dbd_list">
        <li>
        <%= link_to "發起點餐", new_menu_path %></li>
        <li><%= link_to "餐廳列表", restaurants_path %>
        </li>
        <% if params[:controller] == 'menus' && params[:action] == "bill" %>
          <li><%= link_to "評論餐廳", restaurant_path(Menu.find(params[:id]).restaurant) %></li>
        <% end %>
    </ul>
</div>
<% end %>