<div class="row">
<h2>餐廳列表</h2>
<% @restaurants.each do |rest| %>
<div class="col s12 m6 l4">
  <div class="card">
  	<div class="card-image">
  		<img src="<%= rest.restaurant_picture %>" alt="" class="circle">
  		<span class="card-title"><%= rest.name %></span>
  	</div>
  	<div class="card-action">
  	  <p>電話: <%= rest.phone %></p>
  	  <%= link_to '詳細內容', restaurant_path(rest) %> 
  	</div>
  	
  </div>
</div>
<% end %>
</div>
<%= content_for :javascripts do %>
<%= javascript_include_tag 'bundle/restaurants_index_bundle'%>
<% end %>