<div class="row">
  <%= form_for @restaurant, :url => {:controller => 'restaurants', :action => 'create'} do |f| %>
    <div class="col s12 m12 l12">
      <div class="row">
        <%= f.label :name, "名稱" %>
    	  <%= f.text_field :name %>
        <br>
        <%= f.label :phone, "電話" %>
        <%= f.text_field :phone %>
        <br>
        <%= f.label :introduction, '簡介' %>
        <%= f.text_area :introduction %>
        <br>
		
    		<%= f.label :url, "上傳菜單" %>
    		<%= f.text_field :url %>
    		
        <br>


      </div>

    </div>
    <%= f.submit "送出", class:"btn" %>

  <% end %>
</div>