<div class="row">
  <%= form_for @restaurant, :url => {:controller => 'restaurants', :action => 'create'} do |f| %>
    <div class="col s12 m6 l6">
      <div id="dbd_input_field" class="clearfix">
        <%= f.label :name, "名稱" %>
        <%= f.text_field :name %>
        <br>
      </div>
      <div id="dbd_input_field" class="clearfix">
        <%= f.label :phone, "電話" %>
        <%= f.text_field :phone %>
        <br>
      </div>
      <div id="dbd_input_field" class="clearfix">
        <%= f.label :introduction, '簡介' %>
        <%= f.text_area :introduction %>
        <br>
      </div>  
      <div id="dbd_input_field" class="clearfix">
        <%= f.label :url, "上傳菜單" %>
        <%= f.text_field :url %>
        <br>
      </div>
       
        <%= f.submit "送出", class: "dbd_button" %>
    </div>
  <% end %>

</div>